
#wrapper { 
    background: #fff; 
    overflow: hidden; 
}

/* ====================================== */
/*                ヘッダー                */
/* ====================================== */
#wrapper #header { 
    width: 100%;
    height: 130px;
    top: 0px; 
    left: 0px; 
    position: absolute; 
    z-index: 1000; 
    overflow: hidden; 
    background: url("../img/header2.jpg"); 
    background-size: cover; 
}
/* ヘッダー menu */
#nav-header-main ul {
    margin-top: 80px;
    padding: 0px auto 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: rgba(0,0,0,0.4);
}
#nav-header-main li {
    float: left;
    margin-right: 15px; 
    line-height: 1px;
}
#nav-header-main li:last-child {
    margin-right: 0px;
}
#nav-header-main li a {
    display: block; 
    padding: 10px 0 10px; 
    color: white;
    font-size: 16px; 
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); 
    border-bottom: 1px solid transparent; 
    line-height: 1; 
    transition-property: border-color; 
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); 
    transition-duration: 0.3s; 
    text-decoration: none;
}
#nav-header-main li a:hover { 
    border-bottom-color: #4169e1; 
}

/* ====================================== */
/*             サイドメニュー             */
/* ====================================== */
#side { 
    width: 230px; 
    float: left; 
    margin: 60px 0px 0px 40px; 
}
#nav-side h3 {
    width: 200px;
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: #808080;
}
#nav-side ul {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#nav-side li {
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
}
#nav-side li:first-child {
    text-align: center;
    border-top: 1px solid #c0c0c0;
}
#nav-side li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}
#nav-side li a.active {
    background-color: #bbe2f1;
}
#nav-side li a:hover:not(.active) {
    color: #ffffff;
    background-color: #1b2538;
}

/* ====================================== */
/*            メイン　コンテンツ          */
/* ====================================== */
#main {
    width: 90%;
    margin: 5px auto 5px;
}
#content {
    padding: 50px 0px 0px 300px;
}
#content h2 { 
    font-size: 24px; 
    display: inline-block; 
    border-bottom: solid 5px #a7d6ff; 
    margin: 0 0 15px;
}
#content h3 { 
    font-size: 18px; 
    margin: 10px 0px 0px 0px;
}
#content p { 
    font-size: 12px; 
}

/* ====================================== */
/*               フッター                 */
/* ====================================== */
#wrapper #footer { 
    width: 100%; 
    height: 170px; 
    left: 0px; 
    position: absolute; 
    z-index: 1000; 
    overflow: hidden; 
    background: #c0c0c0; 
}
#nav-footer { 
    width: 70%; 
    overflow: hidden; 
    margin-left: 130px;
}
#nav-footer ul { 
    float: left; 
    padding-left: 0px;
    margin-right: 60px;
    list-style: none;
}
#nav-footer li { 
    margin-bottom: 15px; 
    line-height: 1; 
}
#nav-footer li:before { 
    content: "▷";
    speak: none; 
    text-transform: none; 
    line-height: 1; 
    text-decoration: none; 
    display: inline-block; 
    color: white; 
    font-size: 13px; 
    transform: scale(0.9); 
    margin-right: 0px;
}
#nav-footer li a { 
    font-size: 12px; 
    color: #fff;  
    text-decoration: none;
}
#footer p{
    font-size: 10px;
    padding: 0px auto 0px;
    text-align: center;
    border-top: 1px solid black;
}
